body {
    font-family: 'Sen', sans-serif;
    line-height: 3rem;
}

.basic-padding {
    padding: 15px 30px 20px 50px;
}

.explore-the-world {
    height: 511px;
    background: url(../images/luggage-1149289_1920.jpg) no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.city-search-format {
    margin-top: 20px;
    padding: 15px 150px;
    border-radius: 60px;
    border: 0;
}

/* font definitions - start*/
.large-body-text {
    font-size: 60px;
}

.large-mini-body-text {
    font-size: 45px;
    font-weight: bold;
}

.moderate-body-text {
    font-size: 30px;
    font-weight: bold;
}

.medium-body-text {
    font-size: 20px;
    font-weight: bold;
}

.small-body-text {
    font-size: 13px;
}

.reduced-line-height {
    line-height: 2rem;
}
/* font definitions - end*/

.explore-the-world a {
    color: black;
    padding: 10px;
}

button {
    background-color: #23d3d3;
    color: white;
    font-family: inherit;
    border: none;
    padding: 15px;
    position: fixed;
    top: 85%;
    left: 3%;
    border-radius: 60px;
    z-index: 10;
}

button strong {
    color: black;
}

button:hover{
    background: black;
}

button strong:hover {
    color: #23d3d3;
}


.popular-cities {
  height: 905px;
}

  .popular-cities-showcase {
      height: 47%;
  }
  
 .place {
     width: 25%;
 }

.places-row {
     display: flex;
 }

.country-text {
    position: relative;
}

.place-image img{
      border-radius: 20px;
      max-width: 90%;
}

.place-details {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 0;
      left: 30px;
      height: 380px;
      color: black;
  }

.sub-details {
    line-height: 2rem;
}

  .get-app {
      height: 482px;
      background: url(../images/bg_banner_app.jpg);
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .travel-inspiration {
      height: fit-content;
  }

  .inspiration-content-area {
    display: flex;
}

.inspiration-image img{
    border-radius: 20px;
    max-width: 90%;
}

.travel-inspiration .article-container a {
    text-decoration: none;
    color: black;
}

.travel-inspiration .article-container h3 a {
    border-bottom: solid 1px #23d3d3;
}

.footer {
    height: 294px;
    background: #f7f4f4;
    border-top: solid 1px #d1cdcd;
    border-bottom: solid 1px #d1cdcd;
    padding-top: 40px;
  }

.footer-arrangement {
    display: flex;
    justify-content: space-between;
}

.fa-facebook-square{
    color: blue;
}

.fa-twitter-square{
    color: rgba(16, 150, 212, 0.699);
}
.fa-youtube-square{
    color: red;
}

.fa-instagram-square{
    color: black;
}

  .copyrights {
     height: 86px;
     text-align: center;
  }