:root {
    --primary: #FFCE00;
    --secondary: #171717;
    --light: #F3F3F3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu-wrapper {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 100px;
    height: 50px;
    box-sizing: border-box;
}

.menu-wrapper .toggle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 50px;

    z-index: 999;
    cursor: pointer;
    opacity: 0;

}

.menu-wrapper .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 50px;

    z-index: 998;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 10px;
    transition: all 0.3s ease;
}

.menu-wrapper .hamburger .bar {
    position: relative;
    width: 100%;
    height: 3px;
    background: var(--light);
    z-index: 5;
    transition: all 0.2s linear;
}

.menu-wrapper .hamburger .bar::before,
.menu-wrapper .hamburger .bar::after {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 3px;
    background: var(--light);
    transition: all 0.2s linear;
    
}

.menu-wrapper .hamburger .bar::after {
    top: 10px;
}


.menu-wrapper .toggle:hover + .hamburger {
    transform: rotate(-25deg);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.menu-wrapper .toggle:checked + .hamburger {
    transform: rotate(45deg);
}

.menu-wrapper .toggle:checked:hover + .hamburger {
    transform: rotate(135deg);
}

.menu-wrapper .toggle:checked + .hamburger .bar::before,
.menu-wrapper .toggle:checked + .hamburger .bar::after {
    top: 0;
    transform: rotate(90deg);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    background: white;
    z-index: 1;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    font-size: 15px;
    list-style: none;
    text-align: left;
    cursor: pointer;
    box-sizing: 100px;
    border-bottom: 2px solid transparent;
}

.menu ul li:hover {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.menu ul li a {
    text-decoration: none;
}

.menu-wrapper .toggle:checked + .hamburger + .menu {
    opacity: 1;
    width: 50vh;
    height: 100vh;
}



body {
    font-family: 'Sen', sans-serif;
    line-height: 3rem;
}

.general-menu {
    height: 85px;
    border-bottom: solid 1px gold;
}

.basic-padding {
    padding: 50px 30px 20px 50px;
}

.explore-the-world {
    height: 511px;
    background: url(../images/luggage-1149289_1920.jpg) no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.large-body-text {
    font-size: 60px;
}

a {
    color: black;
    padding: 10px;
}

.explore-image img{
    /* float: right; */
    max-height: 450px;
}

button {
    background-color: rgb(27, 87, 155);
    border: none;
    padding: 15px;
    position: fixed;
    top: 85%;
    left: 3%;
    border-radius: 10%;
  }

  .popular-cities {
      height: 905px;
  }
  
 

  .place-image img{
      max-width: 100%;
  }

  .get-app {
      height: 482px;
  }

  .travel-inspiration {
      height: 390px;
  }

  .footer {
      height: 294px;
  }

  .copyrights {
     height: 86px;
  }